h1{
    background-color: indianred;
}
div{
    width: 500px;
    height: 250px;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid black;
}
button{
    background-color: green;
    border-radius: 20%;
    box-shadow: 10px white ;
}
